<%- include ('navbar') %>
<section class="section">
<div class ='columns'>
    <div class="column is-half">
        <form action = '/patient/add-new/' method="post" >
            <div class="field">
                <label class="label">First name</label>
                <div class="control">
                <input class="input" type="text" name='firstName' placeholder="e.g Alex">
                </div>
            </div>

            <div class="field">
                <label class="label">Last name</label>
                <div class="control">
                <input class="input" type="text" name='lastName' placeholder="e.g Smith">
                </div>
            </div>

            <div class="field">
                <label class="label">Date of birth</label>
                <div class="control">
                <input class="input" type="date" name='birthDate' placeholder="DD.MM.YYYY">
                </div>
            </div>

            
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                <input class="input" type="email" name="email" placeholder="e.g. alexsmith@gmail.com">
                </div>
            </div>


            <div class="field">
                <label class="label">Employer</label>
                <div class="control">
                <input class="input" type="text" name='employer' placeholder="Siemens">
                </div>
            </div>

            <div class="field">
                <label class="label">Job Description</label>
                <div class="control">
                <input class="input" type="text" name='jobDescription'>
                </div>
            </div>

            <div class="field">
                <label class="label">Additional details</label>
                <div class="control">
                <textarea class="input" type="text" name='additionalDetails'></textarea>
                </div>
            </div>


            <div class="field is-grouped">
                <div class="control">
                <button class="button is-link" type="submit">Submit</button>
                </div>
                <div class="control">
                <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>
</section>
  <%- include ('footer'); %>